* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial;
  font-size: 14px;
}
html,
body {
  max-height: 100vh;
  max-width: 960px;
}
body {
  gap: 0.5em;
  padding: 1em;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-height: auto;
  min-width: auto;
}
.row {
  display: flex;
  gap: 0.5em;
  min-height: auto;
  min-width: auto;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.fill-w {
  width: 100%;
}
.fill-h {
  height: 100%;
}
.grow {
  flex-grow: 1;
}
.wrap {
  flex-wrap: wrap;
}
.of-auto-y {
  overflow-y: auto;
}
.max-vh {
  max-height: calc(100vh - 2em);
}

/* custom border */
button,
input,
.editable,
.editable-overlay,
.group,
#output {
  border: 0.0625em solid gray;
  border-radius: 0.5em;
}

.group {
  padding: 1em 1em;
}
.editable {
  min-height: 1em;
  min-width: 4em;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  word-wrap: anywhere;
}
.editable-overlay {
  position: absolute;
}

.editable > span:not(.text) {
  display: inline-block;
  width: 0;
  visibility: collapse;
}

#message {
  width: 6em;
  flex-grow: 1;
}
#output {
  padding: 1em;
  min-height: 5em;
}

button {
  cursor: pointer;
}
button[disabled] {
  cursor: initial;
}
textarea {
  resize: none;
  word-wrap: anywhere;
}

/* universal padding */
.editable,
.editable-overlay,
#message,
button {
  padding: 0.125em 0.5em;
}
